- @title = "1968 ZB Ford Fairlane"

%section#blurb
  %p <a href="http://imcdb.org/vehicle_218208-Ford-Fairlane-ZB-1968.html">As seen on Underbelly</a>. Contact Lachlan on 04 0709 1518 or <a href="mailto:lachlan+fairlane@lachstock.com.au">lachlan@lachstock.com.au</a>.

%section#gallery
  %ul
    - for image in @photos
      = partial :images, :image => image
