/****
Customised version of the definitive CSS reset
  Props to Eric Meyer (as always)
  http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100.01%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
:focus {outline: 0;}
body {background: #fff; color: #000; line-height: 1.26;}
ol, ul {list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, q:before {content: open-quote;}
blockquote:after, q:after {content: close-quote;}
blockquote, q {quotes: "“" "”" "‘" "’";}
em {font-style: italic;}
strong {font-weight: 700;}

/* Makes HTML5 structural elements structural */
article, aside, footer, header, nav, section {display: block;}

/****
Application
http://underbelly-fairlane.heroku.com
20100303

TOC
=Generic Rules
  =Generic Text
    =Links
    =Headings
    =Body Text
    =Date, Times etc
  =Generic Forms
=Structure
  =Header
  =Nav
  =Page
    =Columns
    =Components
  =Footer
=JS


****/

/* =Generic Rules */
  /* =Generic Text */
  blockquote {background: #fafafa; border: 1px solid #aaa; color: #444; margin: 1em; overflow: auto; padding: 0 1em 0 1em;}

    blockquote:before,
    blockquote:after {color: #aaa; font-size: 1em;}

    blockquote:before {content: "start quote";}
    blockquote:after {content: "end quote";}

      blockquote cite {display: block; float: right; margin: 0 0 1em 0; width: auto;}
  
  q {font-size: 1.1em;}
    
  /* =Links */
  a:link {color: #ff0;}
  a:visited {color: #eee;}
  a:hover, a:active, a:focus {color: #f30;}

  /* =Headings */
  h1, h2, h3, h4, h5, h6 {font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif; margin: 1em 0 0.5em 0;}
  h1 {font-size: 3em; margin: 0 0 0.5em 0;}
  h2 {font-size: 2em;}
  h3 {font-size: 1.7em;}
  h4 {font-size: 1.5em;}
  h5 {font-size: 1.3em;}
  h6 {font-size: 1.1em;}

  /* =Body Text */
  article p,
  article li,
  article ol,
  article ul {margin: 0 0 0.5em;}
  article p {font-size: 1.07em; line-height: 1.5;}
  article ul {}
  	article ul li {font-size: 1.07em; list-style-position: inside; list-style-type: disc;}
  article ol {}
  	article ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
    article ol ol,
    article ol ul,
    article ul ol,
    article ul ul {margin: 0 0 0.5em 1em;}

  .amp {background: #fff; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}

  /* =Dates, Times etc */
  .date {font: 1em/1.6 Georgia, serif;}
  
  /* =Forms */
  form {}
    form ul {}
      form li {margin: 0 0 1em 0;}
        form label {font-weight: bold; width: 8em;}
        form input {}
        form li span {display: block;}
        

/* =Structure */
html,
body {height: 100%;}

body {background: #0e0e0e; color: #fff; font: 62.5%/1.3 "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif; margin: 0; padding: 0;}

#wrapper {min-height: 100%; overflow: hidden;}

  /* =Header */
  header.layout {clear: both; margin: 0 0 1em 0; overflow: auto;}
    header.layout img {float: left; margin: 0 0 2em 0; width: auto;}
    header.layout h1 {float: left; font-size: 6em; letter-spacing: 0.05em; margin: 0; padding: 0.5em 0 0 0.5em; width: auto;}

  /* =Nav */
  nav {overflow: auto;}
    nav ul {background: #fff; color: #f30; float: left; width: auto;}
      nav ul li {float: left; width: auto;}
        nav ul li a,
        nav ul li span {display: block; font-size: 1.4em; font-weight: 700; padding: 0.5em 1.1em; position:relative; z-index:1;}
        nav ul li span {background: #fff; color: #ddd;}
        nav ul li a:link,
        nav ul li a:visited {background: #fff; color: #0e0e0e;}
        nav ul li a:hover,
        nav ul li a:active,
        nav ul li a:focus {background: #f30; color: #0e0e0e; text-decoration: none;}
  
  /* =Page */
  #page {font-size: 1.5em; padding: 1em; position: relative;}

    /* =Columns */
    section {margin: 0 0 1em 0; padding: 0.4em;}

    #blurb {background: #222; color: #fff; font-size: 2em;}

    #gallery{margin: 0 auto 2em auto; overflow: auto; width: 68em;}
        #gallery ul li {float: left; margin: 0 1em 1em 0; width: auto;}

  /* =Footer */
  footer.layout {background: #111; clear: both; color: #0e0e0e; font-size: 1.5em; margin: -2.4em 0 0 0; position: relative; bottom: 0; text-align: center; width: 100%;}
    footer.layout p {border-top: 2px solid #444; padding: 0.5em;}
      footer.layout a:link {color: #0066B3;}
      footer.layout a:visited {color: #0e0e0e;}
      footer.layout a:hover, 
      footer.layout a:active, 
      footer.layout a:focus {color: #f30;}

/* =JS */
html.js {}
 
#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(close.png);}
#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
